.product {
  margin: 20px auto 0;
  max-width: 700px;
  padding: 0 20px;
}

.product__item {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  margin-bottom: 20px;
  padding: 20px;
}

.product__description {
  color: #767676;
  font-size: 16px;
  margin-top: 5px;
}

.product__link {
  align-items: center;
  border-radius: 5px;
  border: 2px solid tomato;
  color: tomato;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-decoration: none;
  transition: all .2s;
}

.product__link:hover {
  background-color: tomato;
  color: white;
}

.action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.action__button {
  padding: 12px 32px;
  border-radius: 5px;
  border: 0;
  background-color: tomato;
  color: white;
  cursor: pointer;
}

.action__button:hover:not(:disabled) {
  opacity: 0.7;
}

.action__button[disabled] {
  cursor: default;
  opacity: 0.5;
}